:root {
background-color:black;}

body {
width:480px;
margin:50px auto;
background-color:#e1e1e1;
display: flex;
flex-direction: column;
align-items: center;
min-height: 100vh;
padding:20px 0;}

body.noscroll {
overflow: hidden;}

.card {
width:420px;
background-color:#ffffff;
margin:20px 0;
border-radius:10px;
box-shadow:0 1px 2px #dbdbdb;
transition: 0.5s all cubic-bezier(0, 1, 0.95, 1.05);}

.card img {
width:100%;
height:226px;
object-fit:cover;
border-top-left-radius:10px;
border-top-right-radius:10px;}

.card h2 {
margin:8px 30px;
font-size:24px;
letter-spacing:-0.5px;}

.card .wrapper-content {
height:0px;
overflow:hidden;
transition: .3s all ease-out;}
	
.card .wrapper-content .content {
overflow:auto;
padding:0px 15px;
background-color:#ffffff;}

.card p {
font-size:14px;
line-height:24px;}

/* active section */
.active {
transform: translateY(var(--data-mytop)) scale(calc(480/420));
transform-origin:50%,0;
border-radius:0;}

.active img {
 border-top-left-radius:0;
border-top-right-radius:0;}

.active .wrapper-content {
height:100vh;}

